{% extends "base.html" %}

{% block page_title %}About Stella{% endblock %}

{% set dialogue_messages = [
  "Stardew Valley is a beloved video game for which many players enjoy using guides.",
  "Instead of identifying their areas for growth on their own and flipping through pages upon pages of a guide to come up with a strategy,", 
  "players can simply upload their save file to me, the Stella AI,",
  "and I will give an analysis of a player's current progress, as well as suggested next steps."
] %}