{% extends "base.html" %}

{% block page_title %}Welcome to the Stella AI!{% endblock %}

{% set dialogue_messages = [
  "Hi! I\'m Stella, your AI companion for playing Stardew Valley!", 
  "Upload your save file to get started."
] %}

{% block content %}

<div class="upload-box">
  <form method="POST" action="/" enctype="multipart/form-data" class="upload-form">
      <input type="file" name="file" class="upload-input">
      <button type="submit" class="submit-button">Submit</button>
  </form>
</div>

{% endblock %}